{% extends 'base.html' %}

{% block title %}-question{% endblock %}

{% block content %}


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Unresolved Question
      <small style="color: lightslategray;">you can match!</small>
      <small><a class="btn btn-primary btn-block" style="width: 15%; float: right;" href="{% url 'ask' %}">Add Question</a></small>

    </h1>
    <div class="breadcrumb">
      <form>
          <input name="" class="" placeholder="SEARCH..." >
          <button type="submit" class="#"> SEARCH  </button>                                                 
      </form>
    </div>

    <div class="row">
      {% for question in questions.all reversed%}
      {% if question.matching == None %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          {% if question.image1 %}
          <a href="{% url 'question_detail' question.id %}"><img class="card-img-top" src="{{question.image1.url}}" alt=""></a>
          {% else %}
          <a href="{% url 'question_detail' question.id %}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          {% endif %}
          <div class="card-body" style="min-height: 200px !important;">
            <h4 class="card-title">
              <a href="{% url 'question_detail' question.id %}">{{question.title}}</a>
            </h4>
            <p class="card-text">{{question.contents}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- /.container -->





{% endblock %}
