{% extends 'base.html' %}

{% block title %}-login{% endblock %}

{% block content %}



<div class="container">
<br><br><br><br>

<div class="row">
	<aside class="col-sm-4" style="margin:auto;">
    <p style="font-weight: 500; color:royalblue">Golden Connect supports senior's IT activities. :) </p>
    <hr>
    <div class="card">
      <article class="card-body">
        <a href="{% url 'signup' %}" class="float-right btn btn-outline-primary">Sign up</a>
        <h4 class="card-title mb-4 mt-1">Sign in</h4>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label>Your ID</label>
            <input name="id" class="form-control" placeholder="your id" >
          </div> <!-- form-group// -->
          <div class="form-group">
            <a class="float-right" href="#">Forgot?</a>
            <label>Your password</label>
            <input name="pw" class="form-control" placeholder="******" type="password" autocomplete="off">
          </div> <!-- form-group// --> 
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
          </div> <!-- form-group// -->                                                           
        </form>
        <br>
        <div class="error_msg" style="color:red; text-align: center;">{{error}}</div>
        <br>
      </article>
    </div> <!-- card.// -->
  </aside> <!-- col.// -->
</div> <!-- row.// -->

</div> 
<!--container end.//-->

<br><br><br><br>





{% endblock %}
